/* src/components/Navigation.css */

.app-nav{padding:10px 0;margin-bottom:20px;text-align:center;background-color:#f0f0f0;border-radius:8px}.app-nav a{margin:0 15px;font-weight:700;color:#282c34;text-decoration:none}.app-nav a:hover{text-decoration:underline}